---
---
@import "_variables";
@import "bootstrap/_bootstrap";
@import "_bootswatch";
@import "workshop";
@import "speaker";
@import "tshirt";

* {
    font-family: 'Open Sans', sans-serif;
}
p.verse, .Speaker .Speaker-name, .Workshop-list .Workshop-header div{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    font-size: 35px;
}

.Workshop-list p {
    font-size: 25px;
}

.Speaker p {
    font-size: 20px;
}
.navs-logo {
    max-width: 100%;
    max-height: 100%;
}

.Footer {
    border-top: 1px solid #e8e8e8;
    padding: 8px;

    span.pull-left {
        width: 100px;
    }
}
.row {
    padding: 30px;
}
.Information {
    .Information-title-container {
      text-align: center;

    }

    .Information-title {
        width: 50%;
    }

    .Information-card {
        color: white;
        border: 1px solid white;
        border-right-width: 0;
        border-left-width: 0;
        padding: 5px;
        table {
            width: 100%;
            td {
                height: 35px;
            }
        }
    }
    background: linear-gradient(-104deg, #bbd8b9, #017f8d);
}

body .container-fluid {
    padding: 30px;
}

#speaker {
    height: 256px;
}

.nav .register {
    background-color: #04c8d4;
}

.nav.nabar-nav {
    display: inline
}

iframe {
   width: 100%;
   height: 500px;
}

.Information .Information-title {
  font-size: $font-size-h1;
}
