---
---
@import "_variables";
@import "bootstrap/_bootstrap";
@import "_bootswatch";
@import "workshop";
@import "speaker";
* {
    font-family: 'Open Sans', sans-serif;
}
p.verse, .Speaker .Speaker-name, .Workshop-list p{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    font-size: 35px;
}

.Workshop-list p {
    font-size: 25px;
}

.Speaker p {
    font-size: 20px;
}
.navs-logo {
    max-width: 100%;
    max-height: 100%;
}

.Footer {
    border-top: 1px solid #e8e8e8;
    padding: 8px;

    span.pull-left {
        width: 100px;
    }
}

.Information {
    .Information-title {
        max-width:100%
    }

    .Information-card {
        color: white;
        border: 1px solid white;
        border-right-width: 0;
        border-left-width: 0;
        padding: 5px;
        table {
            width: 100%;
            td {
                height: 35px;
            }
        }
    }

    height: 350px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 30px 30px 0 30px;
    background-image: url('/images/background.png');
}

.Verse {
    margin-top: 350px;
}

body .container-fluid {
    padding: 30px;
}

#speaker {
    height: 256px;
}

.section {
    box-sizing: content-box;
}
.section:target {
    padding-top: 350px;
}

.navbar-nav .register {
    background-color: #8880C7;
}

.nav.nabar-nav {
    display: inline
}
