---
---
@import "_variables";
@import "bootstrap/_bootstrap";
@import "_bootswatch";
@import "workshop";
@import "speaker";

.navs-logo {
    max-width: 100%;
    max-height: 100%;
}

.Footer {
    border-top: 1px solid #e8e8e8;
    padding: 8px;

    span.pull-left {
        width: 100px;
    }
}

.Information {
    .Information-title {
        font-size: 200px;
    }

    .Information-card {
        border: 1px solid black;
        border-right-width: 0;
        border-left-width: 0;
        padding: 5px;
        table {
            width: 100%;
            td {
                height: 35px;
            }
        }
    }
}

body .container-fluid {
    padding: 30px;
}