.Speaker {
    .Speaker-image {
        max-width: 200px;
        margin-right: 15px;
        float: left;
    }

    border-bottom: 1px solid;
    -webkit-border-image: -webkit-gradient(linear, left bottom, right bottom, from(#017f8d), to(#bbd8b9))0 0 100% 0 stretch;

    padding: 50px 0;
}
