.Workshop {
    margin: 20px;
    .Workshop-Image {
        // TODO: Remove if we end up using images
        display: none;
        &.pull-left {
            margin-right: 10px;
        }

        &.pull-right {
            margin-left: 10px;
        }
    }

    .Workshop-description {
        display: none;
    }

    .Workshop-header {
        display: block;
        width: 100%;
        .Workshop-Title, .Workshop-Author {
            font-size: 25px;
            width: 50%;
            display: inline-block;
            padding: 5px;
        }
         border-bottom: 1px solid;
         -webkit-border-image: -webkit-gradient(linear, left bottom, right bottom, from(#169edc), to(#e63ebf))0 0 100% 0 stretch;
    }

}