.Workshop {
    margin: 20px;
    .Workshop-Image {
        // TODO: Remove if we end up using images
        display: none;
        &.pull-left {
            margin-right: 10px;
        }

        &.pull-right {
            margin-left: 10px;
        }
    }

    .Workshop-description {
        display: none;
    }
}