---
layout: grid
title: Workshops
---
<div class="Workshop-list">
    <div class="col-xs-12 col-md-6">
    {% assign workshops = site.workshops | sort: 'title' %}
    <h2>Morning Sessions</h2>
    {% for workshop in workshops %}
    <div class="Workshop clearfix">
        <img src="{{ workshop.image }}" class="Workshop-Image {% if thecycle == 'odd' %} pull-left {% else %} pull-right {% endif %}"/>
        <div class="Workshop-header">
            <div class="Workshop-Title">{{ workshop.title }}</div><div class="Workshop-Author"> {{ workshop.speaker }}</div>
        </div>
        <div class="Workshop-description">{{ workshop.output }}</div>
    </div>
    {% endfor %}
</div>
