---
layout: grid
title: Workshops
---
<div class="Workshop-list">
    <div class="col-xs-12 col-md-6">
    {% assign workshops = site.workshops | sort: 'title' %}
    <h2>Morning Sessions</h2>
    {% assign morningWorkshops = workshops | where: "time", "morning" %}
    {% for workshop in morningWorkshops %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    <div class="Workshop clearfix">
        <img src="{{ workshop.image }}" class="Workshop-Image {% if thecycle == 'odd' %} pull-left {% else %} pull-right {% endif %}"/>
        <p class="Workshop-header">{{ workshop.title }} | {{ workshop.speaker }}</p>
        <div class="Workshop-description">{{ workshop.output }}</div>
    </div>
    {% endfor %}
    </div>
    <div class="col-xs-12 col-md-6">
    <h2>Afternoon Sessions</h2>
    {% assign eveningWorkshops = workshops | where: "time", "afternoon" %}
    {% for workshop in eveningWorkshops %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    <div class="Workshop clearfix">
        <img src="{{ workshop.image }}" class="Workshop-Image {% if thecycle == 'odd' %} pull-left {% else %} pull-right {% endif %}"/>
        <p class="Workshop-header">{{ workshop.title }} | {{ workshop.speaker }}</p>
        <div class="Workshop-description">{{ workshop.output }}</div>
    </div>
    {% endfor %}
    </div>
</div>
