<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="application/javascript" src="/js/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Open+Sans" rel="stylesheet">
    <title>Go Conference - Sunland Navigators</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container-fluid">
    <div class="row Information">
        <div class="col-sm-12 Information-title-container">
            <a href="/">
               <img class="Information-title" src="/images/colored-logo-words.png" />
            </a>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            {% include grid-header.html %}
        </div>
    </div>
    <div class="row Verse">
        <div class="col-xs-12">
            {{ content }}
        </div>
    </div>
</div>
<script type="application/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>
